HangoutHud
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	> .crosshair
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		width: 2px;
		height: 2px;
		background-color: white;
	
	}

	> .menu
	{
		position: absolute;
		left: 10%;
		width: 80%;
		top: 10%;
		height: 80%;
		background-color: rgba( black, 0.6 );
		border-radius: 24px;
		padding: 16px;
		backdrop-filter: blur( 10px );

		&.hidden
		{
			opacity: 0;
		}

		> .left
		{
			flex-grow: 1;

			> .spawn-menu
			{
				flex-grow: 1;
				pointer-events: all;

				packagefilterfacet, packagefilterorder
				{
					background-color: white;
					color: black;
				}
				TextEntry
				{
					background-color: rgba(white, 0.2);
				}

				color: white;
			}
		}

		> .right
		{
			flex-direction: column;
			flex-shrink: 0;
			width: 400px;
			padding: 16px;
			gap: 8px;

			> .player-list
			{
				flex-direction: column;
				gap: 8px;
				overflow: scroll;
				flex-grow: 1;

				> .player-entry
				{
					background-color: rgba( white, 0.8 );
					flex-direction: row;
					padding: 6px;
					margin-bottom: 5px;
					align-items: center;
					align-content: center;
					border-radius: 4px;
					overflow: hidden;
					transition: all 0.1s ease-out;
					color: black;
					border-radius: 12px;
					flex-shrink: 0;

					&:intro
					{
						opacity: 0;
						margin-left: 20px;
					}

					&:outro
					{
						opacity: 0;
						margin-left: 20px;
						transition: all 0.1s ease-out;
					}

					.avatar
					{
						min-width: 50px;
						width: 50px;
						height: 50px;
						border-radius: 50%;
					}

					.name
					{
						font-size: 28px;
						font-weight: 500;
						margin-left: 10px;
						flex-grow: 1;
						font-family: Poppins;
					}
				}
			}

			> button
			{
				background-color: rgba( white, 0.6 );
				padding: 8px;
				border-radius: 8px;
				font-size: 24px;
				font-family: Poppins;
				color: black;
				border: none;
				cursor: pointer;
				transition: all 0.1s ease-out;
				pointer-events: all;
				flex-shrink: 0;

				&:hover
				{
					background-color: rgba( white 1 );
				}
			}
		}
	}

	> .voice-list
	{
		position: absolute;
		bottom: 200px;
		right: 20px;
		flex-direction: column;
		width: 300px;
		padding: 5px;
		padding-bottom: 0px;
		font-family: Poppins;

		> .voice-entry
		{
			background-color: rgba( black, 0.8 );
			flex-direction: row;
			padding: 6px;
			margin-bottom: 5px;
			align-items: center;
			align-content: center;
			border-radius: 4px;
			overflow: hidden;
			transition: all 0.1s ease-out;
			left: 0px;
			// animation-name: rainbow-background;
			// animation-duration: 5s;
			// animation-iteration-count: infinite;
			// animation-timing-function: linear;
			// animation-direction: alternate-reverse;

			&:intro
			{
				opacity: 0;
				margin-left: 20px;
			}

			&:outro
			{
				opacity: 0;
				margin-left: 20px;
				transition: all 0.1s ease-out;
			}

			.avatar
			{
				min-width: 50px;
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}

			.name
			{
				font-size: 16px;
				font-weight: 500;
				margin-left: 10px;
				flex-grow: 1;
				color: white;
			}
		}
	}

}

@keyframes rainbow-background
{
	0%
	{
		background-color: mix(#FF0000, black, 0.8);
	}
	16.666%
	{
		background-color: mix(#FF7F00, black, 0.8);
	}
	33.333%
	{
		background-color: mix(#FFFF00, black, 0.8);
	}
	50%
	{
		background-color: mix(#00FF00, black, 0.8);
	}
	66.666%
	{
		background-color: mix(#0000FF, black, 0.8);
	}
	83.333%
	{
		background-color: mix(#4B0082, black, 0.8);
	}
	100%
	{
		background-color: mix(#8F00FF, black, 0.8);
	}
}