@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@* @if(PlayerController.Local is not null)
	{
		int index = 0;

		<div class="voice-list">
			@foreach(var player in Scene.Components.GetAll<PlayerController>())
			{
				var voice = player.Components.Get<Voice>(FindMode.EnabledInSelfAndChildren);
				if(voice is null) continue;
				index++;
				if(voice.IsRecording)
				{
					<div class="voice-entry">
						<img src=@($"avatar:{player.SteamId}") class="avatar" />
						<label class="name">@player.GameObject.Name</label>
					</div>				
				}
			}
		</div>
	} *@
	@if(Input.Down("Score"))
	{
		<div class="player-list">
			@foreach(var player in NetworkManager.Instance.Players)
			{
				var voice = player.Components.Get<Voice>(FindMode.EnabledInSelfAndChildren);
				if(voice is null) continue;
				<div class="player-entry">
					<img src=@($"avatar:{player.SteamId}") class="avatar" />
					<label class="name">@player.GameObject.Name</label>
					@if((NetworkManager.Instance.Host?.SteamId ?? 0) == (ulong)player.SteamId)
					{
						<i>verified</i>
					}
				</div>
			}
		</div>
	}
</root>

@code
{

	protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}